html {
    background-color: #F7F7FC;
}
.loginContent{
    margin-top: 80px;
    padding: 40px 0;
}
.loginHeader{
    text-align: center;
    font-size: 31px;
    padding-bottom: 40px;
}
.loginFormForm{
    display: flex;
    justify-content: center;

}
.loginForm{
    background-color: #ffffff;
    width: 608px;
    height: 100%;
    padding: 40px 60px;
    border-radius: 10px;
}
.loginFormHeader{
    text-align: center;
    color: #92929D;
}

.inputAuthenticationInput{
    width: 100%;
    border: 1px solid #5541D7;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.inputHeader{
    padding-bottom: 5px;
    padding-left: 20px;
}
.loginButton{
    background-color: #5541D7!important;
    color: white;
    text-align: center;
    padding: 15px 30px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    border: 0;
}
.loginButton:hover{
    transition: 0.3s;
    background-color: #6E54D6!important;
}


.forgetPass{
    font-size: 14px;
    float: right;
    color: #9A9AB0;
    margin-top: 10px;
    text-align: right;
    transition: 0.3s;
    cursor: pointer;
}
.forgetPass:hover{
    transition: 0.3s;
    color: #373a47;
}

@media (max-width: 648px){
    .loginForm{
        width: 460px;
    }
}
@media (max-width: 490px){
    .loginForm{
        width: 300px;
        padding: 20px 30px;
    }
}


