html {
    background-color: #F7F7FC;
}
.loginContent{
    padding: 40px 0;
}
.loginHeader{
    text-align: center;
    font-size: 31px;
    padding-bottom: 40px;
}
.loginFormForm{
    display: flex;
    justify-content: center;

}
.loginForm{
    background-color: #ffffff;
    width: 608px;
    height: 100%;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.loginFormHeader{
    text-align: center;
    color: #92929D;
}

.inputAuthenticationInput{
    width: 100%;
    border: 1px solid #5541D7;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.inputHeader{
    padding-bottom: 5px;
    padding-left: 20px;
}
.loginButton{
    background-color: #5541D7;
    color: white;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
    width: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}

button:hover {
    background-color: #664eff;
    transition: 0.3s;
}

.error {
    margin: 10px 0 0 15px;
    color: red;
}

@media (max-width: 648px){
    .loginForm{
        width: 460px;
    }
}
@media (max-width: 490px){
    .loginForm{
        width: 300px;
        padding: 20px 30px;
    }
}


