.sideBar{
    margin: 0 auto;
    height: 100%;
    padding-top: 40px;
    max-width: 112px;
}
.sideBar1{
    position: fixed;
    top: 0;
    left: 20px;
    height: 100%;
    background-color: #ffffff;
}