.sideBar {
    height: 100%;
    position: fixed;
    z-index: 101;
}

.opacity0 {
    opacity: 0;
}

.sideBar1 {
    position: fixed;
    top: -40px;
    left: 0;
    height: 100vh;
    background-color: #ffffff;
    z-index: 90;
    width: 100%;
}

.sideButtons {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100%;
}

.singleButton {
    height: 70px;
    padding: 20px 24px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid rgba(235, 235, 235, 0.8);

}

.singleButton1 {
    height: 70px;
    background-color: #ffffff;
    padding: 26px 0 26px 34px;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    gap: 20px;
    width: 100%;
}

.buttonImageSelected {
    filter: brightness(0) invert(1);
}

.selected {
    background-color: #5541D7;
    transition: 0.3s;
    color: white;
}

.selected:hover {
    transition: 0.3s;
    color: white;
}

.sausageImageHeaderImg {
    width: 77px;
    height: 48px;
}

.sausageHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 18.5px 10px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(235, 235, 235, 0.8);
}

.closeCrossImage {
    align-self: center;
}

.closeCrossImage img {
    width: 30px;
}

.singleButton1 {
    padding-left: 90px;
    border-bottom: 1px solid rgba(235, 235, 235, 0.8);
}

.singleButton1:hover {
    color: #000098;
}

.arrowSidebar {
    padding: 21px;
    background-color: white;
    border: none;
}

.translateX {
    transform: rotate(180deg);
}

.pointerEventsNone {
    pointer-events: none;
}

.shadowActive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    transition: 0.3s ease-out;
}

.shadowNotActive {
    transition: 0.3s ease-out;
    background-color: rgba(0, 0, 0, 0) !important;
}

@media (max-width: 1024px) {
    .singleButton1 {
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sideBar {
        display: none;
    }

    .menuLogo {
        display: none;
    }
}
