.modal-contentCertificate{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 2;
    border-radius: 20px;
    max-width: 980px;
}
.certificateImageExample{
    width: 100%;
}
.certificatePopup{
    display: flex;
}
.leftCertificatePopup{
    width: 50%;
    padding: 20px 40px;
}
.rightCertificatePopup{
    width: 50%;
}
.leftCertificatePopupHeader{
    font-size: 40px;
}
.questionAnswerCertificate{
    margin-top: 20px;
    border-bottom: 3px dashed #D81159;
}
.questionCertificate{
    color: #D81159;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
.answerCertificate{
    padding: 10px 0;
    font-family: 'Raleway', sans-serif;
}
.furtherInfo{
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
}
.blueLink{
    color: #00B4CC;
}

.blue{
    color: #00B4CC;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 500;
}
.blue:hover{
    transition: 0.3s;
    color: #5541D7;
}
.rightCertificatePopup{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}
.crossClose{
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-left: auto;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    height: 100%;
}
.certificateImageBlock{
    background-image:linear-gradient(to bottom,rgba(245, 246, 252, 0),rgba(4, 4, 38, 1)85%), url("../../assets/img/leha2.png");
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 20px;
}
.descriptionCertificatePopup{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 380px;
    padding-left: 20px;
}
.blockHeaderCertificatePopup{
    font-size: 8px;
    text-transform: uppercase;
}
.blockNameCertificatePopup{
    font-size: 20px;
    margin-top: 5px;
}
.nominalAndDateCertificatePopup{
    display: flex;
    margin-top: 20px;
    gap: 100px;
    font-size: 8px;
    text-transform: uppercase;
}
.valuesCertificatePopup{
    display: flex;
    gap: 95px;
    font-size: 18px;

}
.qrCodeCertificate{
    text-align: center;
}
.qrCodeCertificateImage{
    width: 160px;
    height: 160px;
}
@media (max-width: 768px){
    .crossClose{
        width: 36px;
        height: 36px;
    }
}
@media (max-width: 548px){

    .crossClose{
        width: 28px;
        height: 28px;
    }
}
@media (max-width: 426px){
    .crossClose{
        width: 16px;
        height: 16px;
        margin-top: 5px;
        margin-right: 5px;
    }


}
