.siskaSosiska{
    width: 130px;
    height: 82px;
}
.salami1{
    text-align: center;
    background-color:#D81159;
    border-radius: 50%;
    padding: 49px 20px;
    height: 180px;
    width: 180px;
    margin: 80px auto 0;
}
.support{
    margin-top: 20px;
    color: #2940FF;
    text-align: center;
}
