.siskaSosiska{
    width: 130px;
    height: 82px;
}
.salami1{
    text-align: center;
    background-color:#D81159;
    border-radius: 50%;
    padding: 40px 20px;
    width: 180px;
    margin: 0px auto;
    margin-top: 120px;
}
.support{
    margin-top: 20px;
    color: #2940FF;
    text-align: center;
}