.loginForm1{
    background-color: #ffffff;
    width: 608px;
    max-height: 468px;
    height: 100%;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.loginFormHeader1{
    text-align: center;
    color: #92929D;
    margin-bottom: 10px;
}