@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(235,235,235,.8);
    background-color: #ffffff;
}

.logoAndName{
    padding: 20px 40px;
    display: flex;
    gap: 20px;
}
.name{
    font-weight: bold;
    font-size: 24px;
}
.scanAndUser{
    display: flex;
    gap: 40px;
    padding: 20px 40px;
}
.user{
    display: flex;
    gap: 20px;
}
.scan{
    color: #5541D7;
    text-align: center;
    align-self: center;
    border: 2px solid #5541D7;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.scan:hover{
    background-color: #5541D7;
    color: #ffffff;
    transition: 0.5s;
}
.userImg{
    border-radius: 50%;
}
.userInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.userUsername{
    color: #11142D;
    font-weight: bold;
    font-size: 16px;
}
.userDescription{
    color: #9A9AB0;
    font-size: 12px;
}
.sideBar{
    height: 100%;
    padding-top: 40px;
    margin: 0 auto;
    display: none;
}
.overGrey{
    background-color: rgba(0,0,0,0.2);
}
.rightBlock1{
    width: 100%;
    background-color: #F7F7FC;
    border-left: 2px solid rgba(235,235,235,.8);
    min-height: 1200px;
}
.sideButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 100%;
}

.singleButton{

    padding: 18px 22px;
    transition: 0.3s;
    cursor: pointer;

}
.sideBar1{
    height: 100%;
}
.singleButton1{
    background-color: #ffffff;
    padding: 20px 22px;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
   gap: 20px;
    width: 100%;

    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.singleButton1:hover{
    background-color: #78A4F8;
    transition: 0.3s;
}

.selected{
    background-color: #5541D7;
    transition: 0.3s;
}
.buttonImageSelected{
    filter: brightness(0) invert(1);
}
.main2{
    display: flex;
}
.blockHeader{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    width: 100%;
}
.singleBlock{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
}
.overflownContent{
    overflow: hidden;
    overflow-x: auto;
}
.leftSide{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blockName{
    color: #11142D;
    font-size: 16px;
    font-weight: bold;
}
.blockValue{
    color: #11142D;
    font-size: 16px;
    font-weight: bold;
}
.rightSide{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.percent{
    color: #42BDA1;
    font-weight: bold;
}
.blockMain{
    padding: 20px;
    background-color: white;
    margin: 20px 20px;
}
.blockMainHeader{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(235,235,235,.8);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
.dropAndFeatures{
    display: flex;
    gap: 60px;
}
.earnings{
    font-size: 16px;
    font-weight: bold;
    align-self: center;
}
.features{
    cursor: pointer;
    align-self: center;
}
.income{
    padding: 30px;
}
.chart{
    padding: 20px;
}
.earningsOrders{
    display: flex;
    justify-content: space-between;
}
.earningsOrdersValue{
    font-weight: bold;
    font-size: 24px;
}
.earningsOrdersValue1{
    font-weight: bold;
    font-size: 24px;
}
.earningsOrdersDescription{
    font-size: 14px;
    color: #92929D;
    padding-top: 10px;
}
.earningsOrdersDescription1{
    font-size: 14px;
    color: #92929D;
    padding-top: 10px;
}
.couponList{
    padding: 20px;
    background-color: white;
    margin: 20px 20px;
}
.couponListHeader{
    padding-top: 10px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(235,235,235,.8);
}
.couponListHeaderName{
    font-weight: bold;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
thead th:nth-child(1) {
    width: 5%;
    text-align: center;
    min-width: 60px;
}
thead th:nth-child(2) {
    width: 15%;
    min-width: 200px;
}

thead th:nth-child(3) {
    width: 10%;
    min-width: 100px;
}
thead th:nth-child(4) {
    width: 10%;
    min-width: 100px;
}thead th:nth-child(5) {
     width: 7%;
     min-width: 100px;
 }

thead th:nth-child(6) {
    width: 7%;
    min-width: 100px;
}
thead th:nth-child(7) {
    width: 7%;
    min-width: 100px;
}
thead th:nth-child(8) {
    width: 3%;
    min-width: 30px;
}th, td {
     padding: 20px;
 }


tbody td {
    text-align: left;
    border-bottom: 2px solid rgba(235,235,235,.8);
}
tbody th {
    border-bottom: 2px solid rgba(235,235,235,.8);

}
tbody tr{
    transition: 0.3s;
    cursor: pointer;
}
tbody tr:hover{
    background-color: rgba(235,235,235,.8);
    transition: 0.3s;
}
thead{
    text-align: left;
    border-bottom: 2px solid rgba(235,235,235,.8);
    background-color: #F7F7FC;
}
.waitersHeader{
    padding: 40px;
    font-size: 24px;
    font-weight: bold;
}
.search {
    width: 95%;
    position: relative;
    display: flex;

}

.searchTerm {
    width: 100%;
    color: black;
    background-color: #F7F7FC;
    border: none;
    padding: 15px 50px;
    font-size: 14px;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    position: absolute;
    width: 40px;
    height: 30px;
    border: none;
    text-align: center;
    color: grey;
    background-color:#F7F7FC ;
    cursor: pointer;
    font-size: 20px;
    margin-top: 6px;
    margin-left: 5px;
}
.searchAndDots{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(235,235,235,.8);
}
.waitersMain{
    padding: 40px;
    background-color: white;
}
.dots{
    align-self: center;
    cursor: pointer;
}
.typeOfRestaurant{
    display: flex;
}
.leftBlockRestaurants{
    width: 70%;
    background-color: white;
    margin: 10px;
}
.rightBlockRestaurants{
    width: 30%;
    background-color: white;
    margin: 10px;
    max-height: 500px;
}
.searchAndDots1{
    padding: 40px;
}
.typeButtons{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
}
.typeButtonSingle{
    color: #11142D;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 3px solid #DBD7F4;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.typeButtonSingleChoosen{
    color: #11142D;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 3px solid #5541D7;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}
.listOfRestaurants{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 256px);
    gap: 40px;
    justify-content: center;
}
.singleRestaurant{
    border: 1px solid #DBD7F4;
    border-radius: 10px;
    padding: 7px;
}
.restaurantName{
    color: #11142D;
    font-weight: bold;
    padding-top: 10px;
}
.restaurantAvgBill{
    color: #42BDA1;
    font-weight: bold;
    padding-top: 5px;
}
.rightBlockRestaurantsHeader{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E1E1FB;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.nameOfResto{
    font-weight: bold;
    align-self: center;
}
.singleItemResto{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-left: 20px;
    padding-top: 20px;
}
.singleItemRestoTittle{
    font-weight: bold;
    align-self: center;
}
.singleItemRestoItems{
    font-weight: bold;
    align-self: center;
    color: #92929D;
    text-align: right;
    padding-right: 10px;
}
.allRestoItems{
    height: 360px;
    overflow-y: auto;
}
.allRestoItems::-webkit-scrollbar{
    width: 5px;
    height: 2em
}
.allRestoItems::-webkit-scrollbar-track{
    background-color: #E2E2EA;
    box-shadow: inset 0 0 5px grey;
    border-radius: 400px;
}
.allRestoItems::-webkit-scrollbar-thumb{
    background: #5541D7;
    border-radius: 400px;
}
.businessHeader{
    display: flex;
    gap: 30px;
    padding: 40px;
}
.businessHeader1{
    font-weight: bold;
    font-size: 24px;
}
.buttonSample{
    background-color: #5541D7;
    color: #ffffff;
    padding: 8px 25px;
    border-radius: 10px;
    font-weight: normal;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}
.buttonSample1{
    background-color: #5541D7;
    color: #ffffff;
    padding: 8px 25px;
    border-radius: 10px;
    font-weight: normal;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    max-width: 100px;
    margin: 0 auto;
}
.red{
    background-color: #D81159;
}
.businessMain{
    background-color: #ffffff;
    margin: 0px 20px;
    padding: 60px 40px;
}
.businessMainHeader{
    display: flex;
    gap: 50px;
}
.businessSingleBlock{
    display: flex;
}
.buttonInfo{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttonHeader{
    font-weight: bold;
}
.businessForm{
    padding-top: 30px;
}
.businessFormHeader{
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 15px;
}
.businessInputValue{
    border: 1px solid #DBD7F4;
    padding: 15px 25px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 30px;
    resize: none;
    font-weight: normal;
}
.input{
    margin-bottom:0;
    padding-bottom: 0;
}
.wordCount{
    text-align: right;
    font-weight: bold;
}
.fullWidth{
    width: 100%;
}

.mailPhone{
    display: flex;
    gap: 20px;
}
.leftContent{
    width: 100%;
}
.rightContent{
    width: 100%;
}

.countryCity{
    display: flex;
    gap: 20px;
}
.singleCountryBlock{
    width: 100%;
}
.workBill{
    display: flex;
    gap: 20px;
}
.rightBlock11{
    width: 100%;
    background-color: #F7F7FC;
    border-left: 2px solid rgba(235,235,235,.8);
    min-height: 1200px;
}
.typeOfRestaurantSelect{
    width: 50%;
}
.deleteButton{
    border: 2px solid #D81159;
    float: right;
    padding: 7px 20px;
    border-radius: 10px;
    color: #D81159;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
.deleteButton:hover{
    transition: 0.5s;
    color: #5541D7;
    border: 2px solid #5541D7;
}
.waitersButton{
    display: flex;
}
.addWaiter{
    border: 2px solid #D81159;
    float: right;
    padding: 7px 20px;
    border-radius: 10px;
    color: #D81159;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    align-self: center;
}
.addWaiter:hover{
    transition: 0.5s;
    color: #5541D7;
    border: 2px solid #5541D7;
}
body.no-scroll {
    overflow: hidden;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow-y: scroll;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    z-index: 2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 20px;
}
.popupForm{
    padding: 20px 80px;
    font-size: 16px;
    display: flex;
    gap: 40px;

}
.newWaitersInputInput{
    border: 1px solid #DBD7F4;
    padding: 15px 25px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 30px;
    resize: none;
}
.isikukood{
    text-align: center;
}
.isik{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}
.popupButtons{
    display: flex;
    float: right;
    gap: 40px;
}
.closeButton{
    border: 2px solid #D81159;
    float: right;
    padding: 7px 20px;
    border-radius: 10px;
    color: #D81159;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    align-self: center;
}
.closeButton:hover{
    transition: 0.5s;
    background-color: #D81159;
    color: #ffffff;
}
.confirmButton{
    color: #5541D7;
    text-align: center;
    align-self: center;
    border: 2px solid #5541D7;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 25px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.confirmButton:hover{
    background-color: #5541D7;
    color: #ffffff;
    transition: 0.5s;
}
.businessSingleBlockImage1{
    width: 104px;
    height: 104px;
    background-color: lightgray;
    border-radius: 10px;
    margin: auto;
}
.uploadImage{
    width: 104px;
    height: 104px;
    border-radius: 10px;
    object-fit: cover;
}
.noFile{
    margin-top: -10px;
    font-size: 12px;
    color: #92929D;
    text-align: center;
}
@media (max-width: 860px) {

    .blockHeader{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .blockMain{
        padding: 20px;
    }
    .couponList{
        padding: 20px;
    }

}
@media (max-width: 550px) {

    .blockHeader{
        display: grid;
        grid-template-columns: 1fr;
    }

}
@media (max-width: 600px) {

    .features{
        display: none;
    }
    .blockMainHeader{
        padding-bottom: 0;
        border: none;
    }
    .income{
        padding: 0;
    }
    .earningsOrdersValue1{
        display: none;
    }
    .earningsOrdersValue{
        font-size: 14px;
    }
    .earningsOrdersDescription1{
        display: none;
    }
    .earningsOrdersDescription{
        display: none;
    }
}


.contentBurger {
    position: fixed;
    left: -100%;
    transform: translateY(-110%);
    width: 15%;
    transition: left 0.5s ease-in-out;
    z-index: 100;
    margin-top: 40px;
    min-width: 250px;
}

.contentBurger.open {
    left: 0;

}
.flexStyleDiv{
    display: flex;
    gap: 20px;
}
.burgerMenu{
    display: block;
    overflow-y: hidden;
}
@media (max-width: 1024px){
    .blockName{
        font-size: 14px;
    }
    .blockValue{
        font-size: 14px;
    }
    .sideBar{
        display: none;
    }
    .logo{
        display: none;
    }
    .name{
        margin-left: 40px;
    }
}
@media (max-width: 464px){
    .waitersButton{
        display: block;
    }
    .waitersHeader{
        padding-bottom: 20px;
    }
    .addWaiter{
        float: none;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}
@media (max-width: 900px){
    .businessMainHeader{
        display: flex;
        flex-direction: column;
    }
    .businessSingleBlock{
        display: block;
        text-align: center;
    }
    .buttonInfo{
     margin-left: 0;
    }
    .noFile{
        margin-top: 5px;
    }
    .buttonSample1{
        max-width: 100%;
        width: 80%;
        margin: 0 auto;
    }
    .mailPhone{
        display: block;
    }
    .countryCity{
        display: block;
    }
    .workBill{
        display: block;
    }
    .typeOfRestaurantSelect{
        width: 100%;
    }
    .businessInput1{
        margin-bottom: 10px;
    }
    .halfContent{
        width: 100%;
    }
}
@media (max-width: 740px){
    .businessHeader{
        display: block;
    }
    .buttonSample{
        width: 130px;
    }
    .flexStyleDiv{
        margin-top: 20px;
    }
}