.couponsMain{
    margin: 0 20px 20px 20px;
    background-color: #ffffff;
    padding: 60px 40px;
}
.specialBlock{
    display: flex;
    gap: 20px;
    padding-top: 40px;
}
.leftSideBlock{
    width: 50%;
}
.rightSideBlock{
    width: 50%;
}
.fullHeight{
    height: 158px;
    resize: none;
}
.wordCount1{
    float: right;
}
.wordCount11{
    margin-top: -30px;
    float: right;
}
@media (max-width: 700px){

    .specialBlock{
        display: block;
    }
    .leftSideBlock{
        width: 100%;
    }
    .rightSideBlock{
        width: 100%;
    }

}