.table-for-payment {
    border-collapse: collapse;
    width: 100%;
}

.table-for-payment th,
.table-for-payment td {

    text-align: left;

}
.table-for-payment td{
    color: #151515;
    font-size: 16px;
    font-weight: normal;
    padding: 4px 8px;
}

.table-for-payment th {
    background-color: #ffffff;
    font-size: 13px;
    color: #9A9AB0;
    padding: 20px 8px;
}

.total-label {
    font-weight: bold;
    text-align: right;
    color: #9A9AB0;
    font-size: 23px;
}
.totalFoot{
    border-top: 2px solid #9A9AB0;
    padding-top: 40px;
}

.total-amount {
    font-weight: bold;
    color: #5541D7;
    font-size: 23px;
}
.table-for-payment th:nth-child(1){
    width: 50%;
}
.table-for-payment td:nth-child(1){
    width: 50%;
}
.table-for-payment th:nth-child(2){
    width: 35%;
}
.table-for-payment td:nth-child(2){
    width: 35%;
}
.total-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #9A9AB0;
}
.table-for-payment-wrapper{
    margin-top: 40px;
}

