.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 25px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #11142D;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross-button {
    width: 45px;
    height: 45px;
    align-self: center;
    margin-top: 10px;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #ffffff;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: black;
    height: auto;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
.burgerButtons{
}
.user1{
    gap: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    display: none;
    align-self: center;
}
.userInfo1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 5px;
}
.buttonImage{
    width: 30px;
    height: 30px;
    align-self: center;
}
.buttonText{
    align-self: center;
}
.showProfile{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.sausageImg{
    width: 76px;
    height: 48px;
}
.sausage{
    padding: 15px 20px;
}
.closeCross{
    width: 40px;
    height: 40px;
}
.userImgBurger{
    border-radius: 50%;
    background-color: rgba(215,215,215, 1);
    width: 42px;
    height: 40px;
    text-align: center;
    align-self: center;
    padding-top: 8px;
    font-size: 18px;

}

@media (max-width: 1024px) {
    .sausage{
        display: none;
    }
    .user1{
        gap: 10px;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 15px;
        display: flex;
    }
}
body::-webkit-scrollbar {
     width: 6px;
     height: 6px;
 }
body::-webkit-scrollbar-track {
     border-radius: 10px;
     background: rgba(0,0,0,0.1);
 }
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
     background: rgba(0,0,0,0.2);
 }
body::-webkit-scrollbar-thumb:hover{
     background: rgba(0,0,0,0.4);
 }
body::-webkit-scrollbar-thumb:active{
     background: rgba(0,0,0,.9);
 }
