.authNumbers {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.singleNumber {
    background-color: #F7F7FC;
    border-radius: 50%;
    padding: 12px 17px;
    color: #C0B8F4;
    border: 1px solid #C0B8F4;
}

.activated {
    color: #5541D7;
    border: 1px solid #5541D7;
}

.numberLine {
    border-top: 1px solid #C0B8F4;
    width: 85px;
    align-self: center;
}

.inputAuthenticationWrapper {
    position: relative;
}

.inputWrapper {
    position: relative;
}

.customPasswordInput {
    padding-right: 70px;
}

.togglePasswordButton {
    position: absolute;
    right: 7px;
    top: 50%;
    padding: 10px;
    border-radius: 10px;
    transform: translateY(-50%);
    background-color: #5541D7!important;
    color: white;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    border: 0;
}

.togglePasswordButton:hover {
    color: white;
    background-color: #6E54D6!important;
    transition: 0.3s;
}

.generalErrorText {
    color: red;
    width: fit-content;
    margin: 35px auto -25px;
}
.alignFlex{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.loginButtonBack{
    margin-top: 40px;
}
.loginButtonBack{
    background-color: #5541D7!important;
    color: white;
    text-align: center;
    padding: 15px 30px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    border: 0;
}
.loginButtonBack:hover{
    transition: 0.3s;
    background-color: #6E54D6!important;
}
